.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.about {
  color: black;
}

.icons {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 35px;
  gap: 10px
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyright {
  font-size: 11px;
}

.navbar {
  display: flex;
  flex-direction: column;
}

/* App.css */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   /* Full viewport height */
}

.skill-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skillTitle {
  width: 100%; /* Ensures the title takes the full width of the section */
  text-align: center; /* Center-aligns the title */
  color: #A79277;
}

.skill {
  background-color: white;
  border-color: #A79277;
  border-style: solid;
  border-width: thin;
  margin: 3px;
  padding: 5px;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 95%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.skill:hover {
  background-color: #A79277;
  color: #FFF2E1;
}

/* DynamicString.css */
.dynamic-text {
  text-align: center;
  font-size: 2em; /* Adjust size as needed */
  font-weight: bold; /* Optional: make the text bold */

}

.typing-text {
  white-space: nowrap;
  overflow: hidden;
  color: #A79277;
  border-right: 0.10em solid #000;
  animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #A79277 /* Adjust color as needed */
  }
}

.about {
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-pic-container {
  width: 300px;
  height: 400px;
  background: white;
  padding: 10px;
  border: 2px solid #c8c1c1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  transform: rotate(2deg);
}


.about-pic-container .pic {
  width: 100%;
  height: auto;
  max-height: 90%;
  object-fit: cover;
  border-bottom: 10px solid white;
}



.about-bio-container {
  width: 600px;
  height: 400px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: rotate(-2deg);
}

.about-bio-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      white,
      white 28px,
      #f3f3f3 28px,
      #f3f3f3 29px
  );
  z-index: -1;
  border-radius: 8px;
}

.about-bio-container p {
  margin: 0;
  line-height: 1.6;
  color: #333;
  text-align: center;
  z-index: 1;
  padding: 10px;
}
