.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.about {
  color: black;
}

.icons {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 35px;
  gap: 10px
}

.footer {
  position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyright {
  font-size: 11px;
}

.navbar {
  display: flex;
  flex-direction: column;
}
